spring:
  cloud:
    gateway:
      routes:
        - id: user-service
          uri: ${USER_SERVICE_URL}
          predicates:
            - Path=/users/**
        - id: admin-service
          uri: ${ADMIN_SERVICE_URL}
          predicates:
            - Path=/admin/**
        - id: activity-service
          uri: ${ACTIVITY_SERVICE_URL}
          predicates:
            - Path=/activities/**
        - id: ai-service
          uri: ${AI_SERVICE_URL}
          predicates:
            - Path=/ai/**


