server:
  port: ${PORT:8085}

spring:

  server:
    port: 8085

  spring:
    application:
      name: api-gateway
  user-service:
    url: ${USER_SERVICE_URL:https://fittrack-userservice.onrender.com}

eureka:
  client:
    enabled: false
    register-with-eureka: false
    fetch-registry: false
