server:
  port: 8085

spring:
  application:
    name: gateway
  main:
    web-application-type: reactive

management:
  endpoints:
    web:
      exposure:
        include: health,info

logging:
  level:
    org.springframework.cloud.gateway: DEBUG
        

