server:
  port: ${PORT:8085}


  application:
    name: api-gateway
  security:
    oauth2:
      resourceserver:
        jwt:
          jwk-set-uri: ${AUTH0_JWK_SET_URI}
  cloud:
    gateway:
      routes:
        - id: user-service
          uri: ${USER_SERVICE_URL}
          predicates:
            - Path=/api/users/**
        - id: admin-service
          uri: ${ADMIN_SERVICE_URL}
          predicates:
            - Path=/api/admin/**
        - id: activity-service
          uri: ${ACTIVITY_SERVICE_URL}
          predicates:
            - Path=/api/activities/**
        - id: ai-service
          uri: ${AI_SERVICE_URL}
          predicates:
            - Path=/api/ai/**

management:
  endpoints:
    web:
      exposure:
        include: health
  cors:
    allowed-origins: ${CORS_ALLOWED_ORIGINS}
    allowed-methods: "*"
    allowed-headers: "*"
    allow-credentials: true
    allow-credentials: true
