server:
  port: ${PORT:8085}

spring:

  spring:
    application:
      name: api-gateway
    cloud:
      discovery:
        enabled: false
      config:
        enabled: false

  management:
    endpoints:
      web:
        exposure:
          include: health,info
  user-service:
    url: ${USER_SERVICE_URL:https://fittrack-userservice.onrender.com}

eureka:
  client:
    enabled: false
    register-with-eureka: false
    fetch-registry: false
