spring:
  application:
    name: gateway
  cloud:
    gateway:
      globalcors:
        corsConfigurations:
          "[/**]":
            allowedOrigins:
              - "${FRONTEND_URL}"
            allowedMethods:
              - GET
              - POST
              - PUT
              - DELETE
              - OPTIONS
              - PATCH
            allowedHeaders:
              - Authorization
              - Content-Type
              - Accept
            allowCredentials: true
      routes:
        - id: userservice
          uri: lb://userservice
          predicates:
            - Path=/api/users/**
          filters:
            - StripPrefix=1
        - id: adminservice
          uri: lb://adminservice
          predicates:
            - Path=/api/admin/**
          filters:
            - StripPrefix=1
        - id: activityservice
          uri: lb://activityservice
          predicates:
            - Path=/api/activity/**
          filters:
            - StripPrefix=1

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: https://${AUTH0_DOMAIN}/

management:
  endpoints:
    web:
      exposure:
        include: health,info

logging:
  level:
    org.springframework.cloud.gateway: INFO

server:
  port: ${PORT:8085}
