server:
  port: ${ADMIN_SERVICE_PORT}

spring:
  application:
    name: adminservice
  datasource:
    url: ${POSTGRES_URL}
    username: ${POSTGRES_USER}
    password: ${POSTGRES_PASSWORD}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: ${JPA_HIBERNATE_DDL_AUTO}
    open-in-view: false
    show-sql: ${JPA_SHOW_SQL}
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

security:
  oauth2:
    resourceserver:
      jwt:
        issuer-uri: ${KEYCLOAK_ISSUER_URI}
        jwk-set-uri: ${KEYCLOAK_JWK_SET_URI}

eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_DEFAULT_ZONE}
  instance:
    prefer-ip-address: ${EUREKA_PREFER_IP}
