spring:
  application:
    name: api-gateway
  config:
    import: optional:configserver:http://localhost:8888
  main:
    allow-bean-definition-overriding: true

logging:
  level:
    org.springframework.security: DEBUG

server:
  port: 8085