server:
  port: 8081

spring:
  application:
    name: user-service

  datasource:
    url: ${USER_DB_URL:jdbc:mysql://mysql:3306/fitness_users_db?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true}
    username: ${USER_DB_USERNAME:fitnessuser}
    password: ${USER_DB_PASSWORD:fitness123}
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    database-platform: org.hibernate.dialect.MySQL8Dialect
    show-sql: true

eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_DEFAULT_ZONE:http://eureka:8761/eureka/}
  instance:
    hostname: ${EUREKA_HOST:user-service}
    prefer-ip-address: true
