server:
  port: ${CONFIG_SERVER_PORT:8888}

spring:
  application:
    name: config-server
  profiles:
    active: native
  cloud:
    config:
      server:
        native:
          search-locations: classpath:/config

eureka:
  instance:
    hostname: ${EUREKA_HOST:eureka}
    prefer-ip-address: ${EUREKA_PREFER_IP:false}
  client:
    service-url:
      defaultZone: ${EUREKA_DEFAULT_ZONE:http://localhost:8761/eureka/} # Default Eureka server URL
    enabled: false

management:
  endpoints:
    web:
      exposure:
        include: health,info

