spring:
  application:
    name: adminservice
  config:
    import: optional:configserver:http://localhost:8888
  datasource:
    url: ${ADMIN_DB_URL:jdbc:mysql://localhost:3307/fitness_users_db}
    username: ${ADMIN_DB_USERNAME:fitnessuser}
    password: ${ADMIN_DB_PASSWORD:}
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate.dialect: org.hibernate.dialect.MySQLDialect
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: ${KEYCLOAK_ISSUER_URI:http://localhost:8181/realms/fitness-oauth2}
          jwk-set-uri: ${KEYCLOAK_JWK_SET_URI:http://localhost:8181/realms/fitness-oauth2/protocol/openid-connect/certs}

server:
  port: 8083

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    fetch-registry: true
    register-with-eureka: true
  instance:
    prefer-ip-address: true

logging:
  level:
    com.fitness.adminservice: DEBUG
    org.springframework.security: DEBUG
